### Setup Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import chart_studio.plotly as pl
import plotly.offline as of
import cufflinks as cf
import datetime as dt

In [2]:
of.init_notebook_mode(connected=True)
cf.go_offline()

### Load Datasets

In [3]:
donations = pd.read_csv("Donations.csv")

In [4]:
donors = pd.read_csv("Donors.csv",dtype="unicode",low_memory=False)

In [5]:
projects = pd.read_csv("Projects.csv")

In [6]:
resources = pd.read_csv("Resources.csv")

In [7]:
schools = pd.read_csv("Schools.csv")

In [8]:
teachers = pd.read_csv("Teachers.csv")

### Describe and Show data

#### Top 5 Elements

In [9]:
donations.head()

,Project ID,Donation ID,Donor ID,Donation Included Optional Donation,Donation Amount,Donor Cart Sequence,Donation Received Date
0,000009891526c0ade7180f8423792063,688729120858666221208529ee3fc18e,1f4b5b6e68445c6c4a0509b3aca93f38,No,178.37,11,2016-08-23 13:15:57
1,000009891526c0ade7180f8423792063,dcf1071da3aa3561f91ac689d1f73dee,4aaab6d244bf3599682239ed5591af8a,Yes,25.00,2,2016-06-06 20:05:23
2,000009891526c0ade7180f8423792063,18a234b9d1e538c431761d521ea7799d,0b0765dc9c759adc48a07688ba25e94e,Yes,20.00,3,2016-06-06 14:08:46
3,000009891526c0ade7180f8423792063,38d2744bf9138b0b57ed581c76c0e2da,377944ad61f72d800b25ec1862aec363,Yes,25.00,1,2016-05-15 10:23:04
4,000009891526c0ade7180f8423792063,5a032791e31167a70206bfb86fb60035,6d5b22d39e68c656071a842732c63a0c,Yes,25.00,2,2016-05-17 01:23:38

In [10]:
donors.head()

,Donor ID,Donor City,Donor State,Donor Is Teacher,Donor Zip
0,00000ce845c00cbf0686c992fc369df4,Evanston,Illinois,No,602
1,00002783bc5d108510f3f9666c8b1edd,Appomattox,other,No,245
2,00002d44003ed46b066607c5455a999a,Winton,California,Yes,953
3,00002eb25d60a09c318efbd0797bffb5,Indianapolis,Indiana,No,462
4,0000300773fe015f870914b42528541b,Paterson,New Jersey,No,075

In [11]:
projects.head()

,Project ID,School ID,Teacher ID,Teacher Project Posted Sequence,Project Type,Project Title,Project Essay,Project Short Description,Project Need Statement,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,Project Posted Date,Project Expiration Date,Project Current Status,Project Fully Funded Date
0,7685f0265a19d7b52a470ee4bac883ba,e180c7424cb9c68cb49f141b092a988f,4ee5200e89d9e2998ec8baad8a3c5968,25,Teacher-Led,Stand Up to Bullying: Together We Can!,Did you know that 1-7 students in grades K-12 ...,Did you know that 1-7 students in grades K-12 ...,"My students need 25 copies of ""Bullying in Sch...",Applied Learning,"Character Education, Early Development",Grades PreK-2,Technology,361.80,2013-01-01,2013-05-30,Fully Funded,2013-01-11
1,f9f4af7099061fb4bf44642a03e5c331,08b20f1e2125103ed7aa17e8d76c71d4,cca2d1d277fb4adb50147b49cdc3b156,3,Teacher-Led,Learning in Color!,"Help us have a fun, interactive listening cent...","Help us have a fun, interactive listening cent...","My students need a listening center, read alon...","Applied Learning, Literacy & Language","Early Development, Literacy",Grades PreK-2,Technology,512.85,2013-01-01,2013-05-31,Expired,NaN
2,afd99a01739ad5557b51b1ba0174e832,1287f5128b1f36bf8434e5705a7cc04d,6c5bd0d4f20547a001628aefd71de89e,1,Teacher-Led,Help Second Grade ESL Students Develop Languag...,Visiting or moving to a new place can be very ...,Visiting or moving to a new place can be very ...,My students need beginning vocabulary audio ca...,Literacy & Language,ESL,Grades PreK-2,Supplies,435.92,2013-01-01,2013-05-30,Fully Funded,2013-05-22
3,c614a38bb1a5e68e2ae6ad9d94bb2492,900fec9cd7a3188acbc90586a09584ef,8ed6f8181d092a8f4c008b18d18e54ad,40,Teacher-Led,Help Bilingual Students Strengthen Reading Com...,Students at our school are still working hard ...,Students at our school are still working hard ...,My students need one copy of each book in The ...,Literacy & Language,"ESL, Literacy",Grades 3-5,Books,161.26,2013-01-01,2013-05-31,Fully Funded,2013-02-06
4,ec82a697fab916c0db0cdad746338df9,3b200e7fe3e6dde3c169c02e5fb5ae86,893173d62775f8be7c30bf4220ad0c33,2,Teacher-Led,Help Us Make Each Minute Count!,"""Idle hands"" were something that Issac Watts s...","""Idle hands"" were something that Issac Watts s...","My students need items such as Velcro, two pou...",Special Needs,Special Needs,Grades 3-5,Supplies,264.19,2013-01-01,2013-05-30,Fully Funded,2013-01-01

In [12]:
resources.head()

,Project ID,Resource Item Name,Resource Quantity,Resource Unit Price,Resource Vendor Name
0,000009891526c0ade7180f8423792063,chair move and store cart,1.0,350.00,NaN
1,00000ce845c00cbf0686c992fc369df4,sony mdr zx100 blk headphones,40.0,12.86,CDW-G
2,00002d44003ed46b066607c5455a999a,"gaiam kids stay-n-play balance ball, grey",4.0,19.00,Amazon Business
3,00002d44003ed46b066607c5455a999a,cf520x - giant comfy pillows - set of 4,1.0,269.00,Lakeshore Learning Materials
4,00002d44003ed46b066607c5455a999a,"serta lounger, mini, sky blue",1.0,131.85,Amazon Business

In [13]:
schools.head()

,School ID,School Name,School Metro Type,School Percentage Free Lunch,School State,School Zip,School City,School County,School District
0,00003e0fdd601b8ea0a6eb44057b9c5e,Capon Bridge Middle School,rural,56.0,West Virginia,26711,Capon Bridge,Hampshire,Hampshire Co School District
1,00004e32a448b4832e1b993500bf0731,The Woodlands College Park High School,urban,41.0,Texas,77384,The Woodlands,Montgomery,Conroe Ind School District
2,0002021bb799f28de224f1acc1ff08c4,Samantha Smith Elementary School,suburban,2.0,Washington,98074,Sammamish,King,Lake Washington Sch Dist 414
3,0004604f675212a8cac1161338265196,Kingsbury Country Day School,unknown,76.0,Michigan,48370,Oxford,Oakland,Michigan Dept Of Education
4,0004c9d50bcf0cea990f844e58b5e2c3,Redwater Elementary School,rural,50.0,Texas,75573,Redwater,Bowie,Redwater Ind Sch District

In [14]:
teachers.head()

,Teacher ID,Teacher Prefix,Teacher First Project Posted Date
0,00000f7264c27ba6fea0c837ed6aa0aa,Mrs.,2013-08-21
1,00002d44003ed46b066607c5455a999a,Mrs.,2016-10-23
2,00006084c3d92d904a22e0a70f5c119a,Mr.,2016-09-08
3,0000a9af8b6b9cc9e41f53322a8b8cf1,Ms.,2015-10-25
4,0000d4777d14b33a1406dd6c9019fe89,Ms.,2017-02-10

#### Shapes

In [15]:
print("Shape of Donations : ",donations.shape)
print("Shape of Donors    : ",donors.shape)
print("Shape of Projects  : ",projects.shape)
print("Shape of Resources : ",resources.shape)
print("Shape of Schools   : ",schools.shape)
print("Shape of Teachers  : ",teachers.shape)

Shape of Donations :  (4687884, 7)
Shape of Donors    :  (2122640, 5)
Shape of Projects  :  (1110017, 18)
Shape of Resources :  (7210448, 5)
Shape of Schools   :  (72993, 9)
Shape of Teachers  :  (402900, 3)

#### Describe Data

In [16]:
donations.describe()

       Donation Amount  Donor Cart Sequence
count     4.687884e+06         4.687884e+06
mean      6.066879e+01         1.430545e+02
std       1.668996e+02         8.723086e+02
min       1.000000e-02         1.000000e+00
25%       1.482000e+01         1.000000e+00
50%       2.500000e+01         2.000000e+00
75%       5.000000e+01         1.200000e+01
max       6.000000e+04         1.811600e+04

In [17]:
donors.describe()

,Donor ID,Donor City,Donor State,Donor Is Teacher,Donor Zip
count,2122640,1909543,2122640,2122640,1942580
unique,2122640,15204,52,2,1065
top,ca48f4db542242b641f35c082c697da3,Chicago,California,No,606
freq,1,34352,294695,1910355,35047

In [18]:
projects.describe()

       Teacher Project Posted Sequence  Project Cost
count                     1.110017e+06  1.110017e+06
mean                      1.124050e+01  7.415240e+02
std                       2.595475e+01  1.083256e+03
min                       1.000000e+00  3.529000e+01
25%                       1.000000e+00  3.351200e+02
50%                       3.000000e+00  5.153500e+02
75%                       9.000000e+00  8.675200e+02
max                       4.970000e+02  2.557377e+05

In [19]:
resources.describe()

       Resource Quantity  Resource Unit Price
count       7.186149e+06         7.186138e+06
mean        2.816518e+00         5.341337e+01
std         8.866547e+00         1.863248e+02
min         0.000000e+00         0.000000e+00
25%         1.000000e+00         7.260000e+00
50%         1.000000e+00         1.439000e+01
75%         2.000000e+00         3.640000e+01
max         4.125000e+03         9.708550e+04

In [20]:
schools.describe()

       School Percentage Free Lunch    School Zip
count                  71852.000000  72993.000000
mean                      58.556115  53382.093406
std                       25.508378  29131.096568
min                        0.000000    705.000000
25%                       40.000000  29554.000000
50%                       61.000000  53095.000000
75%                       80.000000  78572.000000
max                      100.000000  99950.000000

In [21]:
teachers.describe()

,Teacher ID,Teacher Prefix,Teacher First Project Posted Date
count,402900,402872,402900
unique,402900,6,4699
top,5ef09db6d2ea31e739485cd8f4035fee,Mrs.,2015-09-13
freq,1,202142,2067

### Create New Data by using Data

In [22]:
data = pd.merge(donations,projects,how='inner',on='Project ID')

In [24]:
data.columns

Index(['Project ID', 'Donation ID', 'Donor ID',
       'Donation Included Optional Donation', 'Donation Amount',
       'Donor Cart Sequence', 'Donation Received Date', 'School ID',
       'Teacher ID', 'Teacher Project Posted Sequence', 'Project Type',
       'Project Title', 'Project Essay', 'Project Short Description',
       'Project Need Statement', 'Project Subject Category Tree',
       'Project Subject Subcategory Tree', 'Project Grade Level Category',
       'Project Resource Category', 'Project Cost', 'Project Posted Date',
       'Project Expiration Date', 'Project Current Status',
       'Project Fully Funded Date'],
      dtype='object')

In [ ]:
data2 = pd.merge(data,donors,how='inner',on='Donor ID')

In [ ]:
data2.columns.values.tolist()

In [ ]:
data3 = pd.merge(data2,schools,how='inner',on='School ID')

In [ ]:
data3.columns.values.tolist()

In [ ]:
data4 = pd.merge(data3,teachers,how='inner',on='Teacher ID')

In [ ]:
columns = data4.columns.values.tolist()
columns